@import '../global.css';
@import './forms.css';

.form-group {
    margin-bottom: 15px;
}

.form-group > label {
    display: block;
    
}

.form-group > input {
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
    display: block;
    width: 100%;

}

h1, p {
    text-align: center;
    margin-bottom: 10px;
}

.button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: green;
    color: white;
    margin-bottom: 20px;
}

.reg {
    background-color: blue;
}

.mainDiv {
    margin-top: 100px;
    width: 270px;
    border:  2px solid black;
    padding: 20px;
    margin-inline: auto;
}

.registerDiv {
    width: 415px;
}

.checkbox-group, .radio-group, .select-group {
    display: flex;
    align-items: center;
}  

.checkbox-group input, .radio-group input {
    height: 15px;
    margin: 0;
    width: auto;
}   

.checkbox-group label, .radio-group label {
    height: 15px;
    margin-left: 10px;
    width: auto;
}   

.radio-group input {
    padding-right: 10px;
}

.radio-group p {
    margin-bottom: 0;
}

.select-group select {
    width: 200px;
    height: 30px;
    border-radius: 12px;
    text-align: center;
}

