@font-face {
    font-family: 'BPG Nateli Mtavruli';
    src: url('../assets/fonts/BPGNateliMtavruli.woff2') format('woff2'),
        url('../assets/fonts/BPGNateliMtavruli.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

